
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #fae5d3;  
  color: #333;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fae5d3;
}

.logo {
  height: 35px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
}

.btn-nav {
  background-color: #e67e22;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}

.hero {
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}

.hero-text-box {
  max-width: 600px;
}

.hero-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}

.hero-description {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.btn {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.btn--full {
  background-color: #e67e22;
  color: white;
}

.btn--outline {
  border: 2px solid #e67e22;
  color: #e67e22;
}



.delivered-meals {
  display: flex;
  align-items: center;
  gap: 20px;
}

.delivered-faces {
  display: flex;
}

.delivered-faces img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: -15px;  
  border: 3px solid #fae5d3;
}

.delivered-meals p {
  font-size: 18px;
}

.delivered-meals span {
  color: #e67e22;
  font-weight: 700;
}


.hero-img {
  width: 100%;
  border-radius: 20px;
}
